body {
    margin: auto;
    width: 70%;
}

img {
    max-width: 60%;
    display: center;
}

header {
    text-align: center;
}

.venue {
    font-weight: bold;
    display: inline;
}

.authors {
    margin-top: 1em;
    margin-left: 1em;
    margin-bottom: 1em;
}

